.card-deck {
    padding : 50px;
}

.card {
    min-width: 250px;
}

.card-body {
  height: 50%;
}
/* 
figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 400px;
    border: 1px solid gainsboro;
    background: white;
  }
  
  figcaption {
    padding: 10px;
    text-align: block;
  } */