#carousel-header {
    margin: auto;
    width: 65%;
}

.carousel-inner .carousel-item { /* adjust scrolling speed */
    -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
    -o-transition: -o-transform 1.5s ease-in-out !important;
    transition: transform 1.5s ease-in-out !important;
}

.carousel-item div h5, .carousel-item div p { /* comments in carousel */
    position: relative;
    left: 50%;
    color: black;
    margin: auto;
    padding: 3px;
    width: max-content;
    background-color: limegreen;
    border-radius: 10px;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='3CB54A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='3CB54A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner .carousel-item img { /* limit picture size, keep ratio */
    object-fit: contain;
    /* debug: pointer adjust */
    /* background-color: black; */
    height: 360px;
}

.carousel-control-next, .carousel-control-prev {
    /* color: silver; */
    color: black;
    border: 1px;
    /* debug: pointer adjust2 */
    /* background-color: black; */
    border-radius: 1px;
    height: min-content;
    width: max-content;

}

.locator_map img {
    object-fit: contain;
    height: 500px;
}