@media (max-width: 991px) { /* adjust menu for better reading */
    .navbar-collapse {
        z-index: 1;
        overflow: hidden; /* no scrolling bar while opening hamburger */
    }
    .navbar-nav { 
        float: right; /* menu should be opened right */
        background-color: rgba(99, 79, 79, 0.8);
        border-radius: 5px;
        margin: 2px;
        padding: 2px;
        width: max-content;
    }
    .nav-link {
        color: white !important;
        margin: 5px;
        padding: 5px;
        width: max-content;
    }
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 10rem;
}

main {
    display: block;
}

header {
    position: sticky;
    top: 0;
    height:100px;
    background-image: url("../pics/panorama1.jpg");
    background-size: cover;
    background-position: 20%, 20%;
    font-size: 0.8em;
    z-index: 1000;
}

span.headline {
     font-size:0.4em;
     width: min-content;
     white-space: nowrap;
}

nav.navbar-expand-lg {
    height: 40px;
   /* background-color:rgba(100,100,100,0.9);*/
}

h1 {
    padding:10px;
}

footer {
    font-size: 0.8em;
    width: 100%;
    background-image: url(../pics/panorama1.jpg);
    background-size: cover;
    background-position: 20%, 20%;
}

footer li {
   list-style-type: none;
   background-color: rgba(255,255,255,0.5);
   padding: 0.5em; 
}

footer a {
    background-color: rgba(255,255,255,0.1);
}

footer img {
    height: 70px;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    position: absolute;
    bottom: 0; 
    right: 0;
    left: 0;
}