.bilder { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

div.bilder h2 {
    font-size: 1.3em;
    margin: 10px;
}
div.einruecken  {
    display: flex;
    justify-content: space-between;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 400px;
    border: 1px solid gainsboro;
    background: white;
  }
  
  figcaption {
    padding: 10px;
    text-align: block;
  }